<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirmar Compra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="image-preview">
        <img [src]="producto.imagen" alt="{{producto.nombre}}">
      </div>
      <p><strong>Nombre:</strong> {{producto.nombre}}</p>
      <p><strong>Precio:</strong> {{producto.precio | currency: 'CLP'}}</p>
      <ion-button expand="block" color="success" (click)="confirmarCompra()">
        Confirmar Compra
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>

