/* Estilo global para el color de fondo amarillo suave */
:root {
  --color-fondo-global: #fff9e6; /* Color amarillo suave */
}

/* Estilos específicos para el componente */
ion-content {
  --background: var(--color-fondo-global); /* Usar el color amarillo suave */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}

ion-item {
  --highlight-height: 2px;
  --highlight-color-focused: #3498db; /* Color azul en el borde al enfocarse */
  margin: 15px 0;
  width: 100%;
  max-width: 400px;
}

ion-label {
  font-size: 1.2rem;
  color: #34495e;
}

ion-input {
  font-size: 1.2rem;
  color: black;
}

ion-button {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  --background: #3498db; /* Fondo del botón */
  --background-hover: #2980b9;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 5px;
}

ion-text {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  max-width: 400px;
}

ion-text[color="danger"] {
  color: #e74c3c; /* Rojo para mensajes de error */
}

ion-text[color="success"] {
  color: #27ae60; /* Verde para mensajes de éxito */
}

/* Estilo general para centrar el contenido */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-input {
  --border-color: #e0e0e0;
  --border-radius: 15px;
  --border-style: solid;
  --border-width: 1px;
  margin: 20px 0;
  background-color: white;

  ion-label {
      position: relative;
      bottom: 2px;
      color: black;
  }
}
