<!-- reset-password.page.html -->
<app-header></app-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <ion-input
        autocomplete="email"
        icon="mail-outline"
        [formControl]="form.controls.email"
        type="email"
        label="correo"
        labelPlacement="floating">
     </ion-input>
     <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
      <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
      <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
    </div>

    <ion-button expand="block" fill="click" mode="ios" type="submit" [disabled]="form.invalid">Recuperar</ion-button>
  </form>
</ion-content>
<app-footer></app-footer>
