/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
body {
  background-color: hsl(48, 55%, 73%) !important; /* Color amarillo suave */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.validators {
  color: var(--ion-color-danger);
  font-size: 13px;
  text-align: center;
}

ion-content {
  background-color: hsl(48, 55%, 73%) !important;
}

ion-content::part(scroll) {
  background-color: hsl(48, 55%, 73%) !important; /* Aplica al scroll dentro del shadow DOM */
}




/* Cambiar el color de fondo y texto donde están los datos de los productos */
.product-item ion-label {
  background-color: hsl(48, 55%, 85%); /* Fondo amarillo suave */
  color: #333; /* Color del texto */
  padding: 8px; /* Espaciado interno para que se vea más estético */
  border-radius: 4px; /* Bordes redondeados */
  margin-top: 8px;
}

.product-item {
  background-color: hsl(48, 55%, 85%); /* Fondo amarillo suave */
}

